
.mylogos{
animation: rubberBand 1s ;
animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
}.mylogo{
animation: fadeInLeft 1s ;
}
.mylogo1{
animation: fadeInDown 4s ;

}

.anim1{
animation: fadeInRight 1s ease-in-out ;
-webkit-animation : fadeInRight 1s ease-in-out;
}
.anim2{
animation: fadeInRight 1.2s ease-in-out ;
-webkit-animation : fadeInRight .7s ease-in-out;
}
.anim3{
animation: fadeInRight 1.4s ease-in-out ;
-webkit-animation : fadeInRight 1.4s ease-in-out;
}
.anim4{
animation: fadeInRight 1.5s ease-in-out ;
-webkit-animation : fadeInRight 1.5s ease-in-out;
}
.anim5{
animation: fadeInRight 1s ease-in-out ;
-webkit-animation : fadeInRight 1s ease-in-out;
}
.anim6{
animation: fadeInRight 1s ease-in-out ;
-webkit-animation : fadeInRight 1s ease-in-out;
}
.anim7{
animation: fadeInRight 1s ease-in-out ;
-webkit-animation : fadeInRight 1s ease-in-out;
}
.anim8{
animation: fadeInRight 1.1s ease-in-out ;
-webkit-animation : fadeInRight 1.1s ease-in-out;
}
.anim9{
animation: fadeInRight 1.2s ease-in-out ;
-webkit-animation : fadeInRight 1.2s ease-in-out;
}